DJANGO_SECRET_KEY=KHÓA_BÍ_MẬT_CỦA_BẠN
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost

DB_NAME=agri_connect_db
DB_USER=agri_connect_user
DB_PASSWORD=MẬT_KHẨU_DATABASE_CỦA_BẠN
DB_HOST=127.0.0.1
DB_PORT=3306

CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret